.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section.background-blue.columns-container {
background-color: #002b52;
  color: #fff;  
  
}
.columns.block-content {
        padding: 0;
}

.columns.block-content li, ul{
      list-style-type: none;
      padding-left: 0;
}
.columns.block-content ul li{
     margin-bottom: 0.625rem;
}
.columns.block-content img{
  width: 20px;
  height: 20px;
}

.columns.block-content a:any-link {
  color: #fff;
  font-weight: 500;
  position: relative;
}


.content-flex  h3{
 position: relative;
    top: 71px;
    padding-left: 20px;
   font-size: 1.625rem;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 32px;
    color: white;
    margin: 0;
    z-index: 1;
    overflow: hidden;
}
.content-flex img{
  height: 390px;
  transform: scale(1.1);
    height: 390px;
    transition: transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  
}

.content-flex img:hover{
  outline: solid 5px white;
    outline-offset: -20px;
    margin: 0;
  transform: scale(1);
}

.content-flex .icon-right img{
 width: 24px;
height: 24px;
top: -48px;
position: relative;
left: 304px;
display: block;
}

.content-flex h3#equity-inclusion-and-diversity {
    margin-top: -18px;
    top: 100px;
}

.content-flex > div > div{
  margin-right: 2rem;
}

.content-flex > div > div:first-child{
  margin-left: 1rem;
}
.flex-block.columns > div {
    gap: 0;
    margin-left: -.9375rem;
    margin-right: -.9375rem;
}
.flex-block.columns > div > div {
    width: calc(33.33333% - 1.875rem);
    margin-left: .9375rem;
    margin-right: .9375rem;
    flex: 0 0 auto;
  position: relative;
}


