.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section.background-blue.columns-container {
background-color: #002b52;
  color: #fff;  
  
}
.columns.block-content {
        padding: 4.375rem 1.875rem;
}

.columns.block-content li, ul{
      list-style-type: none;
      padding-left: 0;
}
.columns.block-content ul li{
     margin-bottom: 0.625rem;
}
.columns.block-content img{
  width: 20px;
  height: 20px;
}

.columns.block-content a:any-link {
  color: #fff;
  font-weight: 500;
}


.content-flex  h3{

  position: relative;
    top: 71px;
    padding-left: 20px;
    color: white;
}
.content-flex img{
  height: 390px;
  
}

.content-flex img:hover{
  
  outline: solid 5px white;
    outline-offset: -20px;
    margin: 0;
}


.content-flex h3#equity-inclusion-and-diversity {
    margin-top: -18px;
    top: 100px;
}


